<h1>Your cart: </h1>
<%= @items.inspect %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Qnty</th>
    </tr>
  </thead>
  <tbody>
	<% @items.each do |item| %>
    <tr>
      <td><%= item[0].title %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
	<% end %>
  </tbody>
</table>